body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
    font-size:25px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: blue;
    text-decoration: none;
}
header h1{
    position:relative;
    left:25px;
    display:flex;
    align-items:center;
}
.medical{
    width:70px;
    height:70px;
    position:relative;
    border-radius:50px;
    border:2px solid blue;
    margin-right:8px
}
header nav{
    position:relative;
    right:200px;
}
.back_image{
    height: 500px;
    display: flex;
}
.content{
    width:500px;
    border:2px solid red;
}
.back_eye{
    width:500px;
    border:2px solid red;
}

#upload{
    display:flex;
    justify-content:center;
    margin-top:15px;

}

.div_pic{
    width:1250px;
    height:300px;
    margin:auto;
    margin-top:15px;
    text-align:center;
}
.div1{
    width:370px;
    height: 220px;
    margin:5px;
}
#predict {
    text-align: center;
    width:500px;
    height:200px
}

#predict h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#predict p {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight:bold;
    
}

#predict form {
    display: inline-block;
}

#predict input[type="file"] {
    display: none;
}

#predict button {
    background-color: #3616d9;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
}

#predict button:hover {
    background-color: #0f0fb0;
    cursor: pointer;
}
a{
    text-decoration:none;
    color:white;
}



